iai-modules
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results

abc/iaido/example/*
!abc/iaido/example/empty

npm-debug.log
node_modules/*
lib/**/node_modules/*
packages/**/node_modules/*
abc/iaido/node_modules/*

dojo/db/fixtures/fs/?0*
