html { width: 100%; height: 100%; }
body { margin: 0; min-height: 100%; }
/* --- */
body {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
body > * {
  flex: 1 1 100%;
  max-width: 600px;
}
/* --- */
body.loading { background: blue; }
body.loading > * { display: none; }
body.loading::before {
  display: block;
  content: 'loading resources...';
}
/* --- NOTIFIER --- */
body.warn { background: #fffbd6; }
body.error { background: #fdf2f5; }
.NotifyView {
  max-width: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  z-index: 99999999;
}
p.message {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: .7em;
  border: .2em solid;
  padding: .5em;
  background: gray;
  text-align: center;
  font-family: monospace;
  position:relative;
}
p.message > * { flex: 1; }
p.message::before {
  padding: .3em;
  content: 'info:';
}
p.error::before { content: 'Error:'; }
p.warn::before { content: 'Warn:'; }
p.message:hover { cursor: pointer; }
p.message:hover::after {
  content: 'pechar';
  background: yellow;
  display: block;
  position: absolute;
  cursor: pointer;
  height: 100%;
  line-height: 100%;
}
/* THEME LOOK */
p.message {
  border: none;
  background: #222d31;
  box-shadow: 0 .1em .5em;
}
p.message:hover::after,
p.message { border-radius: .2em; }
p.info { background: #4db4f6; }
p.info::before { color: #ddd; }
p.warn { background: #fffbd6; }
p.error { background: #fdf2f5; }
p.error::before { color: #d70022; }
p.warn::before { color: #be9b00; }
