/*
 * Color theme
 */
:root {
  --dark-erro: #d70022;
  --light-erro: #fdf2f5;
  --dark-warn: #be9b00;
  --light-warn: #fffbd6;
  --dark-info: #0087af;
  --light-info: #dfdffd;
  --disapear-duration: 1s;
/* old blue saturado #4db4f6;*/
}
.NotifyView p.message {
  background: var(--light-info);
  box-shadow: 0 0 .15em 0 var(--dark-fg);
}
.NotifyView p.message::before {
  color: var(--light-fg);
  background: var(--dark-info);
}
.NotifyView p.message::after { color: var(--light-fg); }
.NotifyView p.message:hover::after { color: var(--dark-fg); }
.NotifyView p.message.error { background: var(--light-erro); }
.NotifyView p.message.error::before { background: var(--dark-erro); }
.NotifyView p.message.warn { background: var(--light-warn); }
.NotifyView p.message.warn::before { background: var(--dark-warn); }
/*
 * Layout disposition
 */
.NotifyView {
  width: 100%;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  z-index: 99999999;
}
.NotifyView p.message {
  flex: 1 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: .4em;
  padding: .5em 2.5em;
  border-radius: .2em;
  font-family: monospace;
  position:relative;
}
.NotifyView p.message::before,
.NotifyView p.message::after {
  text-align: center;
  position: absolute;
  width: 1.5em;
  line-height: 1.5em;
  margin: auto 0;
}
.NotifyView p.message::before {
  content: 'i';
  left: .6em;
  border-radius: 1.5em;
  font-size: .9em;
}
.NotifyView p.message.error::before,
.NotifyView p.message.warn::before { content: '!'; }
.NotifyView p.message::after {
  content: 'X';
  right: .5em;
}
.NotifyView p.message:hover { cursor: pointer; }
/*
 * Effects
 */
@keyframes fx-disapear {
  from { opacity: 1; max-width: 100%; }
  to { opacity: 0; max-width: 0; }
}
.NotifyView .fx-disapear {
  overflow: hidden;
  animation: fx-disapear var(--disapear-duration) ease 0s 1 normal forwards;
}
.NotifyView p.message.fx-disapear::after { color: transparent; }
