html { width: 100%; height: 100%; }
body { margin: 0; min-height: 100%; }
/* 
 * Base disposition
 */
:root {
  --workarea-top: 8em;
  --workarea-bottom: 2.5em;
}
body {
  display: flex;
  flex-flow: column wrap;

}
body > * {
  flex: 1 1 100%;
  max-width: 600px;
}
body > main {
  max-width: 100%;
  display: flex;
  align-items: center;
}
body > main > section {
  display: none;
  margin: var(--workarea-top) 6em var(--workarea-bottom) 1.5em;
}
body > main > section.loading::before {
  content: 'loading'
}
body > main > section.loading,
body > main > section.selected {
  display: block;
}
body > main > section {
  font-family: Sans-serif;
}
body > main > section h1,
body > main > section h2,
body > main > section h3,
body > main > section h4,
body > main > section h5,
body > main > section h6 {
  font-family: Arial, Verdana;
}
body > main > section p {
  text-align: justify;
}
/*
 * Loading overlay
 */
:root {
  --fadein-duration: 1.5s;
  --fadeout-duration: .8s;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; display: block; }
}
@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; display: none; }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body > * {
  animation: fadein var(--fadein-duration) ease 0s 1 normal forwards;
}
body.loading > * {
  animation: fadeout var(--fadeout-duration) ease 0s 1 normal forwards;
}
body.loading::before {
  animation: rotate 1s linear infinite
  , fadein var(--fadein-duration) ease 0s 1 normal forwards
  ;
}
body::before {
  position: fixed;
  top:0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 0;
  height: 0;
  content: '';
  text-align: center;
  border: 3em solid;
  border-radius: 3em;
  border-color: transparent currentColor;
  animation: fadeout .8s ease 0s 1 normal forwards
  , rotate 1s linear infinite
  ;
}
/*
 * Look and feel
 */
:root {
  --dark-fg: #555;
  --light-bg: #fff;

  --dark-bg: #333;
  --light-fg: #ddd;

  --press-fg: #fff;
  --press-bg: #333;
  /* noise techique from  https://stackoverflow.com/a/13996191/1894803 */
  --noise-bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}
body::before { color: var(--dark-fg); }
body {
  font-family: monospace;
  background-color: var(--light-fg);
  background-image: var(--noise-bg);
}

/* vim: set expandtab: */
/* vim: set filetype=css ts=2 shiftwidth=2: */
